/*  your css code here. If applicable */
.pseudo{
	background-color:var(--maincolor);
}
ul{
	width:50%;
	padding:10px;
	color:black
}
/* p::first-child {
	color:white;
	background-color:black;
}
p::nth-child(2) {
	background-color:rgb(135,206,235);
}
p::last-child {
	color:red;
} */
:root{
	--maincolor:rgb(135,206,235);
}