/*  your css code here. If applicable */
.pseudo{
	background-color:var(--maincolor);
}
ul{
	width:50%;
	padding:10px
}
.r1{
	color:white;
	background-color:black;
}
.r3{
	color:red;
}
:root{
	--maincolor:rgb(135,206,235)
}